/node_modules
/public/hot
/public/storage
/public/images
/public/css/app.css
/public/js/app.js
/public/fonts
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/vendor.js
/public/js/manifest.js
/public/mix-manifest.json
