a:hover{
  cursor:pointer
}

.pointer {
  cursor: pointer;
}

.input-lg {
  font-size: 40px !important;
}

.input-lg-select {
  font-size: 25px !important;
}

table, select {
  font-size: 18px !important;
}