@import '../../../../sass/_variables.scss';

form {
  margin: 0 auto;
}

.profile,
.classinfo {
  &__title {
    display: block;
    position: relative;
    color: #4980b5;
    font-size: 24px;
  }
}

.profile {
  padding: 15px 0 30px 0;
  border-bottom: 1px solid #999;
}
.classinfo {
  padding: 45px 0 30px 0;
  border-bottom: 1px solid #999;
}

.otherinfo {
  padding: 45px 0 30px 0;
}

.form-group-check {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  &__title {
    width: 100%;
    margin-bottom: 0;
    font-size: 18px;
  }
  &__text {
    width: 100%;
    margin-top: 5px;
  }
  .form-check {
    min-width: calc(25% - 20px);
    margin: 5px 20px 0 0;
    .form-check-input {
      margin-top: -4px;
    }
  }
}

.form-group-radio {
  &__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .form-check {
    display: flex;
    .form-check-input {
      margin-top: 2px;
    }
  }
  .form-check + .form-check {
    margin-top: 5px;
  }
}

.form-group-radio--inline {
  display: flex;
  flex-flow: row wrap;
  .form-group-radio__title {
    width: 100%;
    margin-bottom: 0;
  }
  .form-check {
    margin: 5px 25px 5px 0px;
  }
}

.avatar {
  &__img {
    position: relative;
    width: 150px;
    height: 200px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      border: solid 2px lighten(#777, 30);
    }
  }
}

.form-group--length {
  position: relative;
  .text-length {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    font-size: 14px;
  }
}

.form-group--inline-icon {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.4rem;
  }
  input {
    padding-left: 46px;
  }
}

// rwd 786px 斷點
@media (max-width: 768px) {
  form h1 {
    font-size: 30px;
  }
  .form-check.form-check-inline {
    min-width: calc(50% - 20px);
  }
}
